body{
     background-image: url(backg.jpg);
     color: white;
    } 
h1{
    text-align: center
}
label{
        padding: 10px;
        margin:  10px;
        font-size: 18px;
     }
.container{
     background-color:rgba(186, 183, 183, 0.5);
     width: 300px;
     height: 500px;
     margin:10px;
     padding:20px;
     border: none;
     border-radius: 20px; 
     display: flex;
     flex-direction: column;
     align-items: center;

    }
input{ 
        font-size: 16px;
        padding: 10px;
        margin: 10px;
        border-radius:20px;
        border-style: none;
        align-content:left;
        align-items: left;
        opacity: 0.5;

    }


/* i{
    width: 32px;
    height:32px;
} */


.dropdown{
    padding: 20px;
    margin:0 ;
    background-color: rgba(247, 249, 250,0.2);
    border-radius: 20px;
    height: 180px;
    width:250px ;
    padding: 20px;
    }
/* select{
    margin: 20px;
    padding: 5px;
    border-style: none; 
 } */
.select_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}
.select-container img{
    max-width:32px;
    
    }
.btn{
    height: 40px;
    width: 230px;
    background-color:rgb(119, 202, 119);
    text-shadow:20px;
    font-size: 16px;
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    border: none;
    box-shadow :5px 5px rgb(32, 57, 32, 0.6) ;
    text-align: center;
}   

.msg {
 font-size: 24px; 
 background-color:rgba(249, 247, 247, 0.6);
 padding-top: 15px;
 height:40px;
 width: 250px;
 border:solid white 2px;
 box-shadow: 4px 3px rgba(0, 0, 0, 0.2);
 border-radius: 10px;
 color:rgb(29, 29, 29);
 display: flex;
 text-align: center;
 align-content: center;
 justify-content: center;

}
